<a href="https://colab.research.google.com/github/ChangFuchun/Titanic/blob/main/Kaggle_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from urllib.request import urlretrieve
url = "https://github.com/ChangFuchun/Titanic/raw/main/titanic/train.csv"
urlretrieve(url, "train_csv")
url = "https://github.com/ChangFuchun/Titanic/raw/main/titanic/test.csv"
urlretrieve(url, "test_csv")

('test_csv', <http.client.HTTPMessage at 0x7f96277f9bd0>)

In [ ]:
import pandas as pd
datas = pd.read_csv("train_csv", encoding="utf-8")
datas_predit = pd.read_csv("test_csv", encoding="utf-8")

In [6]:
datas_predit

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [9]:
#填補缺失值
#ignore_index=True 重製標籤
#參數axis=1 橫向 axis=0 直向
#drop
datas_toal = pd.concat([datas, datas_predit])
datas_total = datas_toal.drop(["PassengerId", "Survived"], axis=1)
datas_total

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [19]:
#pd.isna() 檢查是不是空的
#將值加總
s = datas_total.isna().sum()
#s>0 都有資料=True filter後留下有空缺的部分
#ascending=True 小到大
s[s > 0].sort_values(ascending=True)

Fare           1
Embarked       2
Age          263
Cabin       1014
dtype: int64

填補空值

類別型:Plcass, Name(mid), Sex, Cabin(First), Embarked

數值型:Age, Sibsp, parch, Ticket, Fare

補最可能的

In [15]:
#demo pandas filter
#帶入跟你資料筆數一樣的多的True False
#True留下 False抹消
d = pd.DataFrame([
    [0, 1],
    [3, 4],
    [5, 6]
])
d[[True, False, True]]

   0  1
0  0  1
2  5  6